html {
    scroll-behavior: smooth;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

ul{
    padding: 0;
    list-style: none;
}

img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, p, a{
    margin: 0;
}

a{
    text-decoration: none;
}
