@mixin media-query($size) {
    @media (min-width: $size) {
        @content;
    }
}
@mixin media-query-max($size) {
    @media (max-width: $size) {
        @content;
    }
}

@mixin displayGrid($width, $gap) {
    display:  grid;
    grid-gap: $gap;
    grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
    grid-template-rows: auto;
    justify-content: center;
}

@mixin displayFlex($justify: space-between, $align: center, $wrap: wrap, $dir: row){
    display: -webkit-box;     
    display: -moz-box;       
    display: -ms-flexbox;    
    display: -webkit-flex;     
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $dir;
}