.education {
    h2 {
        position: absolute;
        min-width: 250px;
        background-color: $color-gray;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid $color-ligth-gray;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2rem;
    }

    .timeline-block {
        padding: 1rem;
        margin: 1rem auto;

        @include media-query($m_tablet) {
            width: 50%;
            margin: 2rem auto;
            @include displayFlex(center);
        }

        span {
            margin-right: 1.5rem;
            font-size: $text-base;
        }

        &_content {
            @include media-query($m_tablet) {
                width: 50%;
            }

            h3 {
                margin-bottom: 0.5rem;
                font-size: $text-large;
                font-weight: 500
            }

            p {
                font-size: $text-medium;
            }
        }
    }
}