.experience {
    margin-bottom: 4rem;

    h2 {
        position: absolute;
        min-width: 250px;
        background-color: $color-gray;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid $color-ligth-gray;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2rem;
    }

    &_data {
        margin-top: 3rem;
        padding: 0 1rem;

        @include media-query($m_tablet) {
            @include displayFlex(space-around);
        }

        h3 {
            font-size: $text-large;
            margin-bottom: 0.5rem;
        }

        span {
            display: block;
            font-size: $text-medium;
            margin-right: 2rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 0.9rem;
            line-height: 1.5rem;
        }
    }
}