.footer {
    width: 100%;
    background-color: $color-black;
    color: $text-blue;

    &_container {
        margin: 0;
        padding: 1rem;
        &-subTitle {
            padding: 0.5rem 0;
            font-size: $text-base;
            font-weight: 800;
        }

        &-content {
            font-size: $text-small;
            color: $text-ligth-blue;
            @include media-query($m_tablet){
                margin-top: 0.5rem;
            }
        }

        &-socialNetwork{
            width: 120px;
            font-size: 28px;
            @include displayFlex();
            a{
                color: $text-ligth-blue;
            }
        }
        @include media-query($s_tablet){
            padding: 2rem;
        }
    }

    @include media-query($m_tablet){
        &_container {
            @include displayFlex(space-around, baseline);
        }
    }
}