.footer{
    background-color: $color-black;
    padding: 2rem;
    margin: 0;
    color: $text-blue;
    ul{
        @include displayFlex(space-around);
    }
    &_subTitle{
        padding: 0.5rem 0;
        font-size: $text-base;
        font-weight: 800;
    }
    &_content{
        font-size: $text-small;
        color: $text-ligth-blue;
    }
}