.header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-black;
    padding: 1rem 2rem;
    margin: 0;

    &_container{
        max-width: 1440px;
        @include displayFlex(space-around);
    }
    &_logo{
        color: $text-blue;
        font-size: $text-large;
        font-weight: 600;
    }
    
    ul{

        @include displayFlex(space-around);
        min-width: 20%;

        li{
            padding: 0 1rem;

            a{
                color: $text-white;

                &:hover{
                    color: $color-purple;
                }
            }
        }
    }
}