.languageSelector{
    border: 1px solid $color-purple;
    background-color: $color-gray;
    color: $color-purple;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 800;
    ::selection{
        border-color: $color-ligth-blue;
    }
    option{
        font-weight: 800;
        color: $color-ligth-blue;
    }
}