.presentation {
    position: relative;
    margin-top: 4rem;
    width: 100%;
    height: auto;

    &_name {
        position: absolute;
        min-width: 250px;
        background-color: $color-black;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid $color-blue;
        z-index: 20;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-transform: uppercase;
        @include media-query($m_tablet){
            padding: 1rem 2.5rem;
        }

        h2 {
            font-size: $text-medium;
            font-weight: 800;
        }
        p {
            font-size: $text-base;
            font-weight: 600;
        }
        @include media-query($s_tablet){
            h2 {
                font-size: $text-large;
            }
            p {
                font-size: $text-medium;
            }
        }
        @include media-query($s_desktop){
            h2 {
                font-size: 2rem;
            }
        }
    }

    &_text {
        position: absolute;
        width: 80%;
        top: 70%;
        left: 50%;
        z-index: 20;
        transform: translate(-50%, -50%);
        background-color: $color-black;
        padding: 1rem;
        border: 1px solid $color-blue;
        border-radius: 0.5rem;
        @include displayFlex(center, center, wrap, column);

        p {
            margin-bottom: 1rem;
            line-height: 1.8rem;
            font-size: $text-small;
        }
        button{
            background-color: $color-black;
            font-size: $text-small;
        }
        @include media-query($s_tablet){
            width: 70%;
            p {
                margin-bottom: 2rem;
                line-height: 2rem;
                font-size: $text-base;
            }
            button{
                font-size: $text-base;
                padding: 1rem 2rem;
            }
        }
        @include media-query($m_desktop){
            top: 60%;
            width: 50%;
        }
    }
}