.previewProyects {
    margin-bottom: 4rem;

    h2 {
        position: absolute;
        min-width: 250px;
        background-color: $color-gray;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid $color-ligth-gray;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2rem;
    }

    h3 {
        text-align: center;
        padding: 2rem;
        font-size: $text-medium;
    }

    a{
        color: $text-blue;
        &:hover{
            color: $color-purple;
        }
    }

    &_container{
        @include displayGrid(300px, 1rem);
        a{
            border: 1px solid $color-purple;
            border-radius: 0.5rem;
            overflow: hidden;
            transition: 0.5s;
            @include media-query($s_tablet){
                &:hover{
                    border-color: $color-blue;
                    scale: 1.1;
                }
            }
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
    @include media-query($s_tablet){
        &_container{
            @include displayGrid(200px, 2rem);
        }
    }
}