.previewProyects {
    padding: 1rem;
    margin-bottom: 4rem;

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: $text-medium;
        margin-bottom: 1rem;
    }

    a{
        color: $text-ligth-blue;
        &:hover{
            color: $color-purple;
        }
    }

    &_container{
        @include displayGrid(200px, 1rem);
        a{
            border: 1px solid $color-purple;
            border-radius: 0.5rem;
            overflow: hidden;
            transition: 0.5s;
            &:hover{
                border-color: $color-blue;
                scale: 1.1;
            }
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
    @include media-query($s_tablet){
        padding: 2rem;
        &_container{
            @include displayGrid(200px, 2rem);
        }
    }
}